

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr {
    background-color: #f8f8f8;
    border-radius: 10px;
}

.edit-button {
    padding: 8px 12px;
    background-color: #3b9c27;
    color: white;
    border: none;
    font-weight: bold;
}

.delete-button {
    padding: 8px 12px;
    margin-top: 5px;
    background-color: #f22c2c;
    color: white;
    border: none;
    font-weight: bold;
}

.fail-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
}
